# Directory (relative to apps/app, where the app is run from)
DIR_BACKUP = backup
DIR_PROFILE = profile
DIR_TMP = tmp

# Chaster API
CHASTER_TOKEN = ''
CHASTER_URL = 'https://api.chaster.app'

JWT_SECRET_KEY = ""
FRONT_URL = ""